/* Define Global Variables */
:root {
    --header-height: 52px; /* Define header height */
}

/* General Styling */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
}

/* Header Logo */
#logo-link {
    display: flex;
    align-items: center;
    height: 100%; /* Match the header height */
    margin-bottom: 2.5px;
}

#header-logo {
    width: 100px;
}

/* Fixed Header */
header {
    position: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #0d0d0d;
    border: none;
    border-bottom: 1px solid #000;
    height: var(--header-height);
    top: 0;
    width: 100%;
    z-index: 110;
}

header h1 {
    margin: 0;
    font-size: 18px;
    color: #ffffff;
}

/* Hamburger Button */
#left-menu-burger-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15px;
    height: 12px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0 1.2rem;
}

.hamburger-icon {
    width: 100%;
    height: 2px;
    background-color: #00b073;
    border-radius: 1px;
    transition: background-color 0.3s ease, color 0.2s ease;
}

#left-menu-burger-button.active:hover .hamburger-icon {
    background-color: #00b073;
}

#left-menu-burger-button.active .hamburger-icon {
    background-color: #ffffff;
}

/* Side Navigation (visible by default) */
nav {
    position: fixed;
    top: var(--header-height);
    left: 0;
    height: calc(100vh - var(--header-height));
    width: 240px;
    background-color: #1a1a1a;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 100;
    transform: translateX(0);
    transition: transform 0.3s ease;
}

/* When 'open' class is added: Sidebar slides into view */
nav.open {
    transform: translateX(-100%);
}

/* Navigation Items */
nav ul {
    list-style: none;
    padding: 0;
    margin: 15px 0 0 0;
}

nav ul li {
    padding: 0;
    font-size: 13px;
    font-weight: 600;
}

nav ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    gap: 15px;
}

/* Default Icon Color: Slightly Darker Grey */
nav ul li a i {
    color: #808080;
    transition: color 0.3s ease, transform 0.3s ease;
}

/* Hover Effect: Icon Color Transitions to White */
nav ul li a:hover i {
    color: #ffffff;
    transform: scale(1.1);
}

nav ul li a:hover {
    background-color: rgba(0, 176, 115, 0.5);
}

/* Group Labels */
.group-label {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #00b073;
    padding: 10px 20px;
    letter-spacing: 0.7px;
    margin-top: 15px;
}

/* Navigation Hover Adjustment */
nav ul li:hover > a {
    background-color: rgba(0, 176, 115, 0.5);
}

/* Main Content Area */
main {
    margin-left: 240px;
    padding: 0 1.25rem;
    padding-top: calc(var(--header-height));
    background-color: black;
    color: white;
    min-height: calc(100vh - var(--header-height));
    transition: margin-left 0.3s ease;
    overflow: hidden;
}

/* When the sidebar is closed */
main.sidebar-closed {
    margin-left: 0; 
}

/* Dashboard Grid */
.dashboard-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    text-align: center;
}

/* Individual Dashboard Tile */
.dashboard-tile {
    background: #1a1a1a;
    color: #ffffff;
    padding: 30px 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}

.dashboard-tile:hover {
    background-color: rgba(0, 176, 115, 0.5);
}

/* Dashboard Tile Icons */
.dashboard-tile i {
    font-size: 24px;
    color: #808080;
    transition: color 0.3s ease, transform 0.3s ease;
}

.dashboard-tile:hover i {
    color: white;
    transform: scale(1.1);
}

/* Dashboard Tile Text */
.dashboard-tile span {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Welcome Marketing Widget */
.marketing-widget {
    background: linear-gradient(135deg, rgba(0, 176, 115, 0.15), rgba(0, 0, 0, 0.8));
    padding: 24px;
    margin-bottom: 0;
    margin-top: 1.25rem;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    border-radius: 2px;
    overflow: hidden;
}

.marketing-widget .description {
    max-width: 360px;
}

.title {
    font-size: 28px;
    font-weight: 600;
    margin: 8px 0;
    max-height: 70px;
    overflow: hidden;
}

.description {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}

/* Dashboard Button */
.dashboard-btn {
    width:fit-content;
    align-self: flex-start;
    background-color: #00b073;
    text-transform: uppercase;
    padding: 16px 32px;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 16px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
    border: none;
    box-shadow: none;
}

.dashboard-btn:hover {
    background-color: #009060;
}

/* Generic Header Styling */
.generic-header {
    margin: 35px 0 40px 0;
}

.header-content {
    width: 60%;
}

/* Breadcrumb Navigation */
#breadcrumb-nav {
    padding: 1.5rem 0 0.75rem;
}

.breadcrumb {
    display: flex;
    gap: 8px;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
}

.breadcrumb a {
    text-decoration: none;
    color: #ffffff;
}

#breadcrumb-nav:empty {
    display: none; /* Hides when empty */
}

/* Arrow seperator inside breadcrumb */
.select-indicator {
    color: #00b073;
    font-weight: bold;
}

.breadcrumb a:hover {
    color: #00b073;
    transition: color 0.2s ease;
}