/* -------------------------------------------------- UNIVERSAL -------------------------------------------------- */

/* Global Variables */
:root {
    --header-height: 52px;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
}

main {
    margin-left: 240px;
    padding: 0 1.25rem;
    padding-top: calc(var(--header-height));
    background-color: black;
    color: white;
    min-height: calc(100vh - var(--header-height));
    transition: margin-left 0.3s ease;
    overflow: hidden;
}

.title {
    font-size: 28px;
    font-weight: 600;
    margin: 8px 0;
    max-height: 70px;
    overflow: hidden;
}

.description {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}

.form-header {
    background-color: #00b073;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 5px 5px 0 0;
    max-width: 640px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.generic-header {
    margin: 35px 0 40px 0;
}

.header-content {
    width: 60%;
}

button {
    width:fit-content;
    align-self: flex-start;
    background-color: #00b073;
    text-transform: uppercase;
    padding: 16px 32px;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
    border: none;
    box-shadow: none;
}

button:hover {
    background-color: #009060;
}

form {
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 0 0 5px 5px;
    max-width: 600px;
}

/* -------------------------------------------------- FIXED HEADER -------------------------------------------------- */

/* Header Logo */
#logo-link {
    display: flex;
    align-items: center;
    height: 100%;
    margin-bottom: 2.5px;
}

#header-logo {
    width: 100px;
}

header {
    position: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #0d0d0d;
    border: none;
    border-bottom: 1px solid #000;
    height: var(--header-height);
    top: 0;
    width: 100%;
    z-index: 110;
}

header h1 {
    margin: 0;
    font-size: 18px;
    color: #ffffff;
}

/* Hamburger Button */
#left-menu-burger-button {
    display: flex;
    align-self: auto;
    flex-direction: column;
    justify-content: space-between;
    width: 15px;
    height: 12px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0 1.2rem;
}

.hamburger-icon {
    width: 100%;
    height: 2px;
    background-color: #00b073;
    border-radius: 1px;
    transition: background-color 0.3s ease, color 0.2s ease;
}

#left-menu-burger-button.active:hover .hamburger-icon {
    background-color: #00b073;
}

#left-menu-burger-button.active .hamburger-icon {
    background-color: #ffffff;
}

/* -------------------------------------------------- NAVIGATION -------------------------------------------------- */

/* Side Navigation (visible by default) */
nav {
    position: fixed;
    top: var(--header-height);
    left: 0;
    height: calc(100vh - var(--header-height));
    width: 240px;
    background-color: #1a1a1a;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 100;
    transform: translateX(0);
    transition: transform 0.3s ease;
}

/* When 'open' class is added: Sidebar slides into view */
nav.open {
    transform: translateX(-100%);
}

/* Navigation Items */
nav ul {
    list-style: none;
    padding: 0;
    margin: 15px 0 0 0;
}

nav ul li {
    padding: 0;
    font-size: 13px;
    font-weight: 600;
}

nav ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    gap: 15px;
}

/* Default Icon Color: Slightly Darker Grey */
nav ul li a i {
    color: #808080;
    transition: color 0.3s ease, transform 0.3s ease;
}

/* Hover Effect: Icon Color Transitions to White */
nav ul li a:hover i {
    color: #ffffff;
    transform: scale(1.1);
}

nav ul li a:hover {
    background-color: rgba(0, 176, 115, 0.5);
}

/* Group Labels */
.group-label {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #00b073;
    padding: 10px 20px;
    letter-spacing: 0.7px;
    margin-top: 15px;
}

/* Navigation Hover Adjustment */
nav ul li:hover > a {
    background-color: rgba(0, 176, 115, 0.5);
}

/* When the sidebar is closed */
main.sidebar-closed {
    margin-left: 0; 
}

/* -------------------------------------------------- BREADCRUMB -------------------------------------------------- */

/* Breadcrumb Navigation */
#breadcrumb-nav {
    padding: 1.5rem 0 0.75rem;
}

.breadcrumb {
    display: flex;
    gap: 8px;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
}

.breadcrumb a {
    text-decoration: none;
    color: #ffffff;
}

#breadcrumb-nav:empty {
    display: none;
}

/* Arrow seperator inside breadcrumb */
.select-indicator {
    color: #00b073;
    font-weight: bold;
}

.breadcrumb a:hover {
    color: #00b073;
    transition: color 0.2s ease;
}

/* -------------------------------------------------- FOOTER -------------------------------------------------- */

/* Footer Styling */
#site-footer {
    margin-top: 1.25rem;
    padding: 1.5rem 0;
    align-self: flex-end;
    width: 100%;
    background: #000;
    color: #888;
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

/* Footer Logo */
#footer-logo {
    width: 78px;
    height: auto;
    margin-bottom: 0.5rem;
}

/* Footer Legal Links and Info */
.footer-legal-links {
    border-bottom: 1px solid rgba(136, 136, 136, 0.2);
    padding-bottom: 0.75rem;
}

/* Footer Links Spacing */
.footer-info-links,
.footer-legal-links,
.footer-legal-info {
    text-align: left;
    width: 100%;
}

.footer-info-links a {
    color:#00b073;
    font-size: 0.75rem;
}

.footer-legal-links a, .footer-legal-info a {
    font-size: .625rem;
}

.footer-info-links a,
.footer-legal-links a {
    margin-right: 1.2rem;
    text-decoration: none;
    display: inline-block;
}

/* -------------------------------------------------- WELCOME PAGE -------------------------------------------------- */

/* Welcome Marketing Widget */
.marketing-widget {
    background: linear-gradient(135deg, rgba(0, 176, 115, 0.15), rgba(0, 0, 0, 0.8));
    padding: 24px;
    margin-bottom: 0;
    margin-top: 1.25rem;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    border-radius: 5px;
    overflow: hidden;
}

.marketing-widget .description {
    max-width: 360px;
    margin-bottom: 16px;
}

/* -------------------------------------------------- DASHBOARD -------------------------------------------------- */

/* Dashboard Grid */
.dashboard-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    text-align: center;
}

/* Individual Dashboard Tile */
.dashboard-tile {
    background: #1a1a1a;
    color: #ffffff;
    padding: 30px 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}

.dashboard-tile:hover {
    background-color: rgba(0, 176, 115, 0.5);
}

/* Dashboard Tile Icons */
.dashboard-tile i {
    font-size: 24px;
    color: #808080;
    transition: color 0.3s ease, transform 0.3s ease;
}

.dashboard-tile:hover i {
    color: white;
    transform: scale(1.1);
}

/* Dashboard Tile Text */
.dashboard-tile span {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* -------------------------------------------------- PAY CALCULATOR -------------------------------------------------- */
  
/* Style the labels */
#calculator-form .form-label {
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
    color: #ffffff;
    font-size: 12px;
    pointer-events: none;
}
  
/* Style the input fields and dropdowns */
#calculator-form input,
#calculator-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #333;
    border-radius: 3px;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    box-sizing: border-box;
}

#calculator-form select {
    background-color: #000;
    color: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10"><polyline points="2,3 5,6 8,3" fill="none" stroke="%2300b073" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px 12px;
    padding-right: 30px;
  }  
  
/* Focus styles for inputs */
#calculator-form input:focus,
#calculator-form select:focus {
    outline: none;
    border-color: #00b073;
}

/* Ensure both input and prefix highlight together when either is hovered */
#calculator-form .income-input:hover .input-field,
#calculator-form .income-input:hover .input-prefix,
#calculator-form .input-prefix:hover,
#calculator-form .input-field:hover {
    border-color: #00b073;
}

.income-group, .pension-group {
    align-items: flex-start;
    display: flex;
    gap: 10px;
    width: auto;
}

#calculator-form input:hover,
#calculator-form select:hover {
    border-color: #00b073;
}

.income-input-wrapper, .pension-input-wrapper {
    width: 165%;
    margin-bottom: 15px;
}

.income-input-wrapper #income {
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.income-input, .pension-input {
    display: flex;
}

.input-prefix {
    color: #fff;
    font-size: 14px;
    border: 1px solid #333;
    border-right: none;
    border-radius: 3px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    background-color: #000;
    color: #fff;
    font-size: 14px;
    box-sizing: border-box;
    padding: 10px 15px;
}
  
/* Result card styling */
#result {
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 0 0 5px 5px;
    max-width: 600px;
}
  
/* Heading for the results */
#result-heading {
    background-color: #00b073;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 5px 5px 0 0;
    max-width: 640px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

#result-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#result-content {
    background: black;
    border: solid 1px #fff;
    border-radius: 3px;
}

/* Payslip Table Styling */
.payslip-table {
    width: 100%;
    max-width: 600px;
    border-collapse: collapse;
    overflow: hidden;
    table-layout: fixed;
}

/* Table Headings */
.payslip-table th {
    border-bottom: 1px solid #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 12px;
    text-align: left;
}

.payslip-table th,
.payslip-table td {
    width: 50%; /* Ensures both columns take equal space */
    text-align: left; /* Keeps text aligned properly */
    white-space: nowrap; /* Prevents text from wrapping */
}

/* Table Rows */
.payslip-table td {
    padding: 10px 15px;
    
}

.payslip-table tr {
    font-size: 12px;
    border-bottom: 1px solid #3b3b3b;
}

.payslip-table .net-income {
    border-bottom: none;
}

/* Divider Row */
.payslip-table .divider td {
    border: none;
    height: 8px;
}

/* Net Income Text */
.payslip-table .net-income td {
    color: #00b073;
    font-size: 14px;
    font-weight: 700;
    border-top: 1px solid #fff;
    border-bottom: none;
}
  
/* Result view switch buttons */
#result-controls {
    display: flex;
}

#result-controls button {
    border: none;
    border-radius: 0;
    color: #a6a6a6;
    display: inline-block;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 0 0 6px 0;
    margin: 0.5rem 1rem 1.5rem 0;
    text-transform: uppercase;
    font-size: 12px;
    transition: ease 0.3s border-bottom-color, ease 0.3s color;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    background: none;
}

#result-controls button:hover {
    color: #fff;
    border-bottom: 2px solid rgba(0, 176, 115, 0.25);
}

#result-controls button.active {
    color: #fff;
    border-bottom: 2px solid #00b073;
}

.error-message {
    color: #db3625;
    font-size: 12px;
    align-items: center;
    gap: 4px;
    margin-top: 5px;
}

#calculator-form input.error, #calculator-form .input-prefix.error {
    border: 1px solid #db3625;
}

#calculator-form .input-prefix.error {
    border-right: none;
}

/* Container for toggle switch and text label */
.toggle-container {
    display: flex;
    align-items: center;
    gap: 10px;
}
  
/* Toggle switch container */
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}
  
/* Hide the default checkbox */
.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
/* The slider */
.toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #202020;
    transition: 0.4s;
    border-radius: 24px;
}
  
/* The knob inside the slider */
.toggle-slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}
  
/* When the checkbox is checked, change the background color */
.toggle-switch input:checked + .toggle-slider {
    background-color: #22cf93;
}
  
/* Move the knob when checked */
.toggle-switch input:checked + .toggle-slider:before {
    transform: translateX(26px);
}  
  
/* Hide advanced fields by default */
.advanced-fields {
    display: none;
}

.pension-toggle-group {
    display: inline-flex;
    border: 1px solid #333;
    border-radius: 3px;
    margin-right: 10px;
    width: auto;
}

.pension-toggle-group:hover {
    border-color: #00b073;
}

.pension-toggle-group input {
    display: none; /* Hide the radio buttons */
}

.pension-input-wrapper #pension {
    margin-bottom: 0;
}

.pension-input .pension-toggle-group label {
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    min-width: 35px;
    flex-grow: 1;
    background: #000;
    color: #fff;
    transition: all 0.3s ease;
    box-sizing: border-box;
    border-radius: 3px;
}

.pension-toggle-group input:checked + label {
    background: #00b073;
    border-color: #00b073;
}